#submitForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* width: 30%; */
}

.formContainer {
    background-color: rgb(248, 247, 247);
    border: solid rgb(175, 174, 174) 1px;
    border-radius: 4px;

    padding: 2.5em;
    width: 16em;
}